.container{
    margin-top: 10px;
   
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    
}
.logo{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.card {
    border: none;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer
}

.pro_wrapper{
    text-align: center;
    display: flex;
    justify-content: center;
}

.main_wrapper{
    margin-top: 40px;
    text-align: center;
}


.pro{
    width: 3.75rem;
    color: white;
    background-color: #6c757d;
    

}

.imageWrapper{
    margin-top: 5rem;
}

.img_content{
    margin-top: 5rem;
    border-radius: 50%;
    width: 40vh;
    height: 40vh;
}

.name{
    font-size: 2rem;
}

.profession{
    margin-bottom: 10px;
    font-size: 1.75rem;
}   

.text_wrapper{
    margin-top: 30px;
    font-size: 1.5rem;
}

.ul_content ul li{
   display: inline-block;
    justify-content: space-evenly;
    margin-top: 10px;
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
  
}

.svg_icons {
    transform: scale(2);
  }