.container {
  margin-top: 10rem;
  text-align: center;
  margin-left: 9.5rem;
  justify-content: center;
  color: #057389;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-right: 10px;
}



.contactInformation ul {
    position: relative;
    justify-content: center;
    width: 600px;
    height: 400px;
    margin-left: 60rem;
    
}

.contactInformation ul li {
  list-style: none;
  text-decoration: none;
  margin-top: 3rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  
}

